---
import CommandPalette from '~';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Command Palette Example</title>
  </head>
  <body>
    <h1>Astro Command Palette</h1>
    <h2>Press <kbd>Command</kbd> + <kbd>K</kbd> to start.</h2>
    <CommandPalette />
  </body>
</html>

<script>
  import createCommandPaletteItems from '~/src/scripts/hooks/createCommandPalette';

  createCommandPaletteItems([
    {
      id: 'docs',
      name: 'See the documentation',
      type: 'action',
      handler: () =>
        open('https://github.com/pauchiner/astro-command-palette', '_blank')
    },
    {
      id: 'releases',
      name: 'See the releases',
      type: 'action',
      handler: () =>
        open('https://github.com/pauchiner/astro-command-palette', '_blank')
    },
    {
      id: 'author',
      name: 'Author',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example1',
      name: 'Example 1',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example2',
      name: 'Example 2',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example3',
      name: 'Example 3',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example4',
      name: 'Example 4',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example5',
      name: 'Example 5',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example6',
      name: 'Example 6',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example7',
      name: 'Example 7',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example8',
      name: 'Example 8',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example9',
      name: 'Example 9',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example10',
      name: 'Example 10',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example11',
      name: 'Example 11',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example12',
      name: 'Example 12',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example13',
      name: 'Example 13',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example14',
      name: 'Example 14',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example15',
      name: 'Example 15',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example16',
      name: 'Example 16',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example17',
      name: 'Example 17',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example18',
      name: 'Example 18',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example19',
      name: 'Example 19',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example20',
      name: 'Example 20',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example21',
      name: 'Example 21',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example22',
      name: 'Example 22',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example23',
      name: 'Example 23',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example24',
      name: 'Example 24',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example25',
      name: 'Example 25',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example26',
      name: 'Example 26',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example27',
      name: 'Example 27',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example28',
      name: 'Example 28',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example29',
      name: 'Example 29',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example30',
      name: 'Example 30',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example31',
      name: 'Example 31',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example32',
      name: 'Example 32',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example33',
      name: 'Example 33',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example34',
      name: 'Example 34',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example35',
      name: 'Example 35',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example36',
      name: 'Example 36',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example37',
      name: 'Example 37',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example38',
      name: 'Example 38',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example39',
      name: 'Example 39',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    },
    {
      id: 'example40',
      name: 'Example 40',
      type: 'action',
      handler: () => open('https://pauchiner.es', '_blank')
    }
  ]);
</script>

<style>
  @media (prefers-color-scheme: light) {
    :root {
      --text: #151c26;
      --gray: #676b73;
      --background: #f0f4fc;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #f0f4fc;
      --gray: #acb4c2;
      --background: #151c26;
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--background);
    font-family: monospace;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
  }

  h2 {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--gray);
  }

  kbd {
    font-size: 1rem;
    border-radius: 0.4rem;
    padding-block: 0.3rem;
    margin-inline: 0.2rem;
    padding-inline: 0.6rem;
    font-family: monospace;
    background: var(--text);
    color: var(--background);
  }
</style>
