/*-------Colors-------*/

@media (prefers-color-scheme: light) {
  :root {
    /* General */
    --command-palette-bg-color: #d6d3d1;
    --command-palette-border-radius: 1rem;
    --command-palette-border-color: #a8a29e;
    --command-palette-backdrop-color: rgb(0 0 0 / 0.1);

    /* Header */
    --command-palette-header-font-size: 1rem;
    --command-palette-header-bg-color: #d6d3d1;
    --command-palette-header-text-color: #0c0a09;
    --command-palette-header-font-family: monospace;
    --command-palette-header-placeholder-color: #57534e;

    /* Items */
    --command-palette-icons-color: #57534e;
    --command-palette-items-selected: #a8a29e;
    --command-palette-items-font-size: 0.9rem;
    --command-palette-items-text-color: #0c0a09;
    --command-palette-items-font-family: system-ui, sans-serif;

    /* Footer */
    --command-palette-footer-bg-color: #d6d3d1;
    --command-palette-keybinds-bg-color: #a8a29e;
    --command-palette-footer-text-color: #57534e;
    --command-palette-footer-font-family: monospace;

    --command-palette-keybinds-text-color: #57534e;
    --command-palette-keybinds-font-family: monospace;
    --command-palette-keybinds-border-radius: 0.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* General */
    --command-palette-bg-color: #1c1917;
    --command-palette-border-radius: 1rem;
    --command-palette-border-color: #292524;
    --command-palette-backdrop-color: rgb(0 0 0 / 0.1);

    /* Header */
    --command-palette-header-font-size: 1rem;
    --command-palette-header-bg-color: #1c1917;
    --command-palette-header-text-color: #fafaf9;
    --command-palette-header-font-family: monospace;
    --command-palette-header-placeholder-color: #a8a29e;

    /* Items */
    --command-palette-icons-color: #a8a29e;
    --command-palette-items-selected: #292524;
    --command-palette-items-font-size: 0.9rem;
    --command-palette-items-text-color: #fafaf9;
    --command-palette-items-font-family: system-ui, sans-serif;

    /* Footer */
    --command-palette-footer-bg-color: #1c1917;
    --command-palette-keybinds-bg-color: #292524;
    --command-palette-footer-text-color: #a8a29e;
    --command-palette-footer-font-family: monospace;

    --command-palette-keybinds-text-color: #a8a29e;
    --command-palette-keybinds-font-family: monospace;
    --command-palette-keybinds-border-radius: 0.25rem;
  }
}

/*-------Styles-------*/

command-palette {
  background: var(--command-palette-bg-color);
  color: var(--command-palette-items-text-color);
  border-radius: var(--command-palette-border-radius);
  border: 1px solid var(--command-palette-border-color);
  margin-inline: 10px;
  animation: pressed 150ms ease-out;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.25);
}

command-palette-backdrop {
  background: var(--command-palette-backdrop-color);
}

command-palette-list {
  overflow: hidden;
  border-top: 1px solid var(--command-palette-border-color);
  border-bottom: 1px solid var(--command-palette-border-color);
  scrollbar-color: var(--command-palette-items-selected)
    var(--command-palette-bg-color);
}

command-palette-header {
  border-top-right-radius: var(--command-palette-border-radius);
  border-top-left-radius: var(--command-palette-border-radius);
  background: var(--command-palette-header-bg-color);
}

command-palette-header input {
  border: none;
  font-size: var(--command-palette-header-font-size);
  background: none;
  color: var(--command-palette-header-text-color);
  font-family: var(--command-palette-header-font-family);
  caret-color: var(--command-palette-header-text-color);
}

command-palette-header input:focus-visible {
  outline: none;
}

command-palette-header input::placeholder {
  color: var(--command-palette-header-placeholder-color);
}

command-palette-footer {
  color: var(--command-palette-footer-text-color);
  background: var(--command-palette-footer-bg-color);
  font-family: var(--command-palette-footer-font-family);
  border-bottom-left-radius: var(--command-palette-border-radius);
  border-bottom-right-radius: var(--command-palette-border-radius);

  & kbd {
    color: var(--command-palette-keybinds-text-color);
    background: var(--command-palette-keybinds-bg-color);
    font-family: var(--command-palette-keybinds-font-family);
    border-radius: var(--command-palette-keybinds-border-radius);
  }
}

command-palette-item {
  width: 100%;
  height: 3rem;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  text-decoration: none;
  border: none;
  color: var(--command-palette-items-text-color);
  font-size: var(--command-palette-items-font-size);
  font-family: var(--command-palette-items-font-family);
  background: var(--command-palette-bg-color);
}

command-palette-item:hover {
  background: var(--command-palette-keybinds);
}

command-palette-item[data-selected='true'] {
  background: var(--command-palette-items-selected);
}

/*-----Animations-----*/

@keyframes pressed {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}
