---
import type {CommandPaletteButtonAction as Props} from '../types';

const props = Astro.props;
---

<div id={props.id} class="command-palette-action">
  <button class="command-palette-action-link" tabindex="0"
    >{props.children}</button
  >
</div>
