---
import type {CommandPaletteButtonAction as Props} from '../types';

const {id} = Astro.props;
const selected = Astro.props.selected?.toString() ?? 'false';
---

<button
  id={id}
  tabindex="0"
  data-selected={selected}
  class="command-palette-action">
  <slot />
</button>

<style>
  button {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
</style>
