---
import '../styles/themes/default.css';
import Footer from './Footer.astro';
import Input from './Input.astro';
---

<div data-visible="false" data-selected="0" id="command-palette-container">
  <div id="command-palette">
    <slot name="input">
      <Input />
    </slot>
    <div id="command-palette-items"></div>
    <slot name="footer">
      <Footer />
    </slot>
  </div>
</div>

<script src="../scripts/main.ts"></script>

<style>
  #command-palette-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 999999;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
  }

  #command-palette-items {
    width: 100%;
    display: flex;
    overflow-y: auto;
    max-height: 12rem;
    flex-direction: column;
  }

  #command-palette {
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
