---

---

<command-palette-footer>
  <div>
    <kbd>Up</kbd>
    <kbd>Down</kbd>
    <span>to move</span>
  </div>
  <div>
    <kbd>Enter</kbd>
    <span>to select</span>
  </div>
  <div>
    <kbd>Esc</kbd>
    <span>to go back</span>
  </div>
</command-palette-footer>

<style>
  command-palette-footer {
    width: 38rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    justify-content: space-between;
  }

  kbd {
    padding-block: 0.15rem;
    padding-inline: 0.25rem;
  }
</style>
