<div id="command-palette-items">
  <div id="command-palette-items-container"></div>
</div>

<style>
  #command-palette-items {
    width: 100%;
    display: flex;
    overflow-y: auto;
    max-height: 12rem;
    flex-direction: column;
  }
</style>
